<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Current Mars News and Data</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click Here for Mars</a></p>
        </div>
    </div>
    <div class="container">
    <div class="row"></div>
    <h2>Latest Mars News</h2>
    <h4>{{ mars.news_title }}</h4>
    <p>{{ mars.news_blurb }}</p>

    <div class="row">
        <div class="col-md-4 text-center">
            <h2>Featured Image</h2>
            <img src="{{ mars.news_img }}">
        </div>
        <div class="col-md-8 text-center">
            <h4>Mars Facts</h4>
            {{ mars.table|safe }}
        </div>
    </div>
    </div>
    
</body>
</html>